{{ define "main" }}

<div class="sigle-container">
  <div class="delavnica-header-container">
    <div class="info">
      <h1 class="section-title">Obvestilo:</h1>
      <h1 class="title">{{ .Title }}</h1>
      <h4 class="date">{{ .Date.Format "2. 1. 2006" }}</h4>
    </div>
    <div>
      <a href="{{ .Params.Prijava }}">PRIJAVA</a>
    </div>
  </div>
  <p class="description">
    {{.Page.Description }}
  </p>
  <div class="single-content-container">
    {{ .Content }}
  </div>
</div>
{{ end }}
