<nav>
    <a href="{{ .Site.Home.RelPermalink }}">
        <img src="/site-images/logos/logo-z-napisom-ob-strani.svg" class="" alt="Peskovnik - Odprti laboratorij" />
    </a>
    <div class="menu-container">
        <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
            MENI
        </a>
        <a href="/about" class="mobile-hide">
            Peskovnik
        </a>
        <a href="/projekti" class="mobile-hide">
            Projekti
        </a>
        <a href="/oprema" class="mobile-hide">
            Oprema
        </a>
        <a href="/" class="mobile-hide">
            Članstvo
        </a>
        <a href="/dokumenti" class="mobile-hide">
            Dokumenti
        </a>
        <a href="https://fabman.io/login" class="fabman-icon">
            Fabman
        </a>
    </div>
</nav>