<footer>
    <div class="footer-container">
        <div class="contact-container">
            <img src="/site-images/kako-do-nas/map.png" alt="">
            <div class="info-container">
                <h1>Peskovnik - Odprti laboratorij</h1>
                <h2>Univerza v Ljubljani, Fakulteta za strojništvo</h2>
                <h3>Aškerčeva cesta 6</h3>
                <h3>1000 Ljubljana</h3>
                <h3>Slovenija</h3>
                <div style="height: 1rem;"></div>
                <h1>Kontakt:</h1>
                <h3>Telefon: 01 477 11 49</h3>
                <h3><a href="mailto:peskovnik@fs.uni-lj.si">peskovnik@fs.uni-lj.si</a></h3>
            </div>
        </div>

        <div class="info-container social-icons">
            <a href="https://www.facebook.com/UL_Fakulteta_za_strojnistvo">
                <img src="/site-images/social-media-icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/ul_fakulteta_za_strojnistvo/">
                <img src="/site-images/social-media-icons/instagram-negative.svg" alt="Instagram">
            </a>
            <!-- <a href="/">
                <img src="/site-images/social-media-icons/discord.svg" alt="Discord">
            </a> -->

        </div>

        <div class="info-container">
        </div>


    </div>
    <p>&copy; Peskovnik - Odprti laboratorij</p>
</footer>