<footer>
    <div class="footer-container">
        <div class="contact-container">
            <img src="/site-images/kako-do-nas/map.png" alt="">
            <div class="info-container">
                <h1>Peskovnik - Odprti laboratorij</h1>
                <h2>Univerza v Ljubljani, Fakulteta za strojništvo</h2>
                <h3>Aškerčeva cesta 6</h3>
                <h3>1000 Ljubljana</h3>
                <h3>Slovenija</h3>
                <div style="height: 1rem;"></div>
                <h1>Kontakt:</h1>
                <h3>Telefon: 01 477 11 49</h3>
                <h3><a href="mailto:peskovnik@fs.uni-lj.si">peskovnik@fs.uni-lj.si</a></h3>
            </div>
        </div>

        <div class="info-container social-icons">
            <a href="https://www.facebook.com/UL_Fakulteta_za_strojnistvo">
                <img src="site-images/social-media-icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/ul_fakulteta_za_strojnistvo/">
                <img src="site-images/social-media-icons/instagram-negative.svg" alt="Instagram">
            </a>
            <a href="/">
                <img src="site-images/social-media-icons/discord.svg" alt="Discord">
            </a>

        </div>

        <div class="info-container" style="width: 20%;justify-content: center;">
            <ul style="list-style: none;">
                <li style="margin-bottom: 10px;">
                    <a href="https://www.gov.si/zbirke/projekti-in-programi/nacrt-za-okrevanje-in-odpornost/">
                        <img src="site-images/podporniki/NOO_Logo_RGB_primarni_SI_gradient.png"
                            alt="Načrt za okrevanje in odpornost"
                            style="width: 170px; height: auto; object-fit: contain;margin: auto;">
                    </a>
                </li>
                <li>
                    <a href="https://www.fs.uni-lj.si/">
                        <img src="site-images/podporniki/UNI-logo_in_FS-color-SLO-curve.png"
                            alt="Fakulteta za Strojništvo, Univerza v Ljubljani"
                            style="width: 170px; height: auto; object-fit: contain;margin: auto;">
                    </a>
                </li>
                <li style="margin-bottom: 10px;">
                    <a
                        href="https://www.gov.si/drzavni-organi/ministrstva/ministrstvo-za-visoko-solstvo-znanost-in-inovacije/">
                        <img src="site-images/podporniki/Logo-MVZI-slo.png"
                            alt="Ministrstvo za visoko šolstvo znanost in inovacije"
                            style="width: 170px; height: auto; object-fit: contain;margin: auto;">
                    </a>
                </li>
                <li>
                    <a href="https://www.eu-skladi.si/sl/po-2020/nacrt-za-okrevanje-in-krepitev-odpornosti">
                        <img src="site-images/podporniki/SL-Financira-Evropska-unija_POS.png" alt="Evropska unija"
                            style="width: 170px; height: auto; object-fit: contain;margin: auto;">
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <p>&copy; Peskovnik - Odprti laboratorij</p>
</footer>