<footer>
    <div class="footer-container">
        <img src="/site-images/kako-do-nas/map.png" alt="">
        <div class="info-container">
            <h1>Peskovnik - Odprti laboratorij</h1>
            <h2>Univerza v Ljubljani, Fakulteta za strojništvo</h2>
            <h3>Aškerčeva cesta 6</h3>
            <h3>1000 Ljubljana</h3>
            <h3>Slovenija</h3>
        </div>
        
        <div class="info-container push-right">
            <h1>Kontakt</h1>
            <h3>Telefon: 01 477 11 49</h3>
            <h3><a href="mailto:peskovnik@fs.uni-lj.si">peskovnik@fs.uni-lj.si</a></h3>
        </div>


    </div>
    <p>&copy; Peskovnik - Odprti laboratorij</p>
</footer>