<div class="sponsors-container">
  <h1>Donatorji</h1>
  <h2>Zlati</h1>
    <div class="golden-container">
      <a href="https://si.gorenje.com/">
        <img src="\user-images\sponsors\gorenje.png" alt="Gorenje">
      </a>
    </div>
    
  <div class="sponsors-separator golden"></div>
 <!--<h3>Srebrni</h3>
  <div class="silver-container">
     <a href="/">Hidria</a>
    <a href="/">Mahle</a>
    <a href="/">Fotona</a>
  </div>
  <div class="sponsors-separator silver"></div>
  <h4>Bronasti</h4>
  <div class="bronze-container">
    <a href="/">Domel</a>
    <a href="/">Fanfoss Trata</a>
    <a href="/">Kolektor</a>
    <a href="/">Yaskava</a>
  </div>
  <div class="sponsors-separator bronze"></div>-->
  <h5>Podporniki</h5>
  <div class="bronze-container">
   <a href="http://www.likarjev-sklad.si/">
    <img src="user-images/sponsors/likarjev_sklad.png" alt="Likarjev sklad">
  </a>
     <!--<a href="/">Fanfoss Trata</a>
    <a href="/">Kolektor</a>
    <a href="/">Yaskava</a>-->
  </div>
</div>
