<div class="sponsors-container">
  <h1>Donatorji</h1>
  <h2>Zlati</h1>
    <div class="golden-container">
      <a href="https://si.gorenje.com/">
        <img src="\user-images\sponsors\gorenje.png" alt="Gorenje" height="300" style="max-height: 18rem;">
      </a>
    </div>
    
  <div class="sponsors-separator golden"></div>





 <h3>Srebrni</h3>
  <div class="silver-container">
     <a href="https://www.danfoss.com/sl-si/">
      <img src="user-images\sponsors\danfoss_logo.svg" alt="Danfoss" style="max-height: 8rem;">
    </a>
  </div>
  <div class="sponsors-separator silver"></div>



  <h4>Bronasti</h4>
  <div class="bronze-container">
    <a href="https://www.iskra-mehanizmi.si/">
      <img src="user-images\sponsors\IM_intelligentmechatronics.jpg" alt="Iskra Mehanizmi" style="max-height: 6rem;">
    </a>
    <a href="https://www.akrapovic.com/">
      <img src="user-images\sponsors\Akrapovic_HorizontalLogo_redblack.jpg" alt="Akrapovič" style="max-height: 3rem;">
    </a>
    <a href="https://gostolgroup.eu/sl">
      <img src="user-images\sponsors\gostol_logo.png" alt="Gostol group" style="max-height: 5rem;">
    </a>
    
  </div>
  <div class="sponsors-separator bronze"></div>
  <h5>Podporniki</h5>
  <div class="bronze-container">
   <a href="http://www.likarjev-sklad.si/">
    <img src="user-images/sponsors/likarjev_sklad.png" alt="Likarjev sklad">
  </a>
     <!--<a href="/">Fanfoss Trata</a>
    <a href="/">Kolektor</a>
    <a href="/">Yaskava</a>-->
  </div>
</div>
