{{ define "main" }}
<div class="welecome-screen">
    <!-- Slideshow container -->
<div class="gallery-container">
    <div class="slideshow-container">

        {{ range os.ReadDir "static/site-images/wallpapers" }}
            <div class="mySlides fade">
                <img class="gallery" src="site-images/wallpapers/{{ .Name }}" style="width:100%"> 
            </div>
        {{  end }}
    
        <script>
            let slideIndex = 0;
            showSlides()
            function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
            }
        </script>
        <div class="gradient"></div>
        <div class="tagline">
            <p class="first-row">Ustvarjaj, razvijaj, raziskuj:</p>
            <p>Dobrodošli v Peskovniku - odprtem laboratoriju</p>
            <p>Fakultete za strojništvo UL</p>
        </div>
        <!-- Next and previous buttons -->
        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
        <!-- <div class="separator-top"></div> -->
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    </div>
    <!-- <img class="gallery" src="/site-images/wallpapers/olfs-prostor5.jpg" alt=""> -->
    <img class="overlays" src="/site-images/logos/logo-overlay.svg" alt="">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSew6TxBKQ5qjqp8A6A45_p9B-yLUqtnxf8B5OBVf6H6qXi5Iw/viewform" class="button">PRIJAVA NA NOVICE</a>
    {{ range ( first 1 ( where .Site.RegularPages "Type" "delavnice" ).ByDate.Reverse ) }}
            <a class="prijava-delavnice" href="{{ .Page.Params.Prijava }}">Prijava na delavnice</a>
    {{end}}
    <div id="arrow-button">
        <a href="#obvestila-anchor">
            <img src="/site-images/double-arrow-bottom-icon.svg" alt="">
        </a>
    </div>
</div>
<div class="olfs-red-separator landing-separator"></div>

<div class="background-watermark-container" id="obvestila-anchor">

    <div class="obvestila-container">
        <h1>Obvestila:</h1>
    
        <div class="obvestila-cards-container">
            {{ range ( first 4 ( where .Site.RegularPages "Type" "obvestila" ).ByDate.Reverse ) }}
                {{ partial "obvestila-card.html" . }}
            {{end}}
        </div>
    
        <a href="/obvestila" class="underline-link">Arhiv obvestil</a>
    </div>

    <div class="obvestila-container">
        <h1>Prihajajoče delavnice:</h1>
    
        <div class="obvestila-cards-container">
            {{ range ( first 4 ( where .Site.RegularPages "Type" "delavnice" ).ByDate.Reverse ) }}
                {{ partial "delavnice-card.html" . }}
            {{end}}
        </div>
    </div>
    
</div>

<div class="olfs-red-separator"></div>
<div class="sponsors-index-container">
    {{ partial "sponsors.html" . }}
</div>
<div class="sponsors-container">
    <div style="vertical-align: middle;">
            <a href="https://www.gov.si/drzavni-organi/ministrstva/ministrstvo-za-visoko-solstvo-znanost-in-inovacije/">
                <img src="/site-images/podporniki/Logo-MVZI-slo.png"
                    alt="Ministrstvo za visoko šolstvo znanost in inovacije"
                    style="width: 170px; height: auto; margin: auto;">
            </a>
            <a href="https://www.fs.uni-lj.si/">
                <img src="/site-images/podporniki/UNI-logo_in_FS-color-SLO-curve.png"
                    alt="Fakulteta za Strojništvo, Univerza v Ljubljani"
                    style="width: 125px; height: auto;margin: auto;">
            </a>
            <a href="https://www.gov.si/zbirke/projekti-in-programi/nacrt-za-okrevanje-in-odpornost/">
                <img src="/site-images/podporniki/NOO_Logo_RGB_primarni_SI_gradient.png"
                    alt="Načrt za okrevanje in odpornost"
                    style="width: 170px; height: auto; margin: auto;">
            </a>
            <a href="https://www.eu-skladi.si/sl/po-2020/nacrt-za-okrevanje-in-krepitev-odpornosti">
                <img src="/site-images/podporniki/SL-Financira-Evropska-unija_POS.png" alt="Evropska unija"
                    style="width: 170px; height: auto; margin: auto;">
            </a>
        </div>
    <p>Projekt sofinancirata Republika Slovenija, Ministrstvo za visoko šolstvo, znanost in šport ter Evropska unija – NextGenerationEU</p>
</div>
{{ end }}